$height: 80px;

.toolbar {
  display: inline-flex;
  width: 100%;
  height: $height;
  padding: 0 16px;
  margin-bottom: 0px;

  background-color: var(--theme-primary, darkblue);
  color: white;
  //  clip-path: polygon(40% 0, 0 0, 0 100%, 100% 100%, 100% 0, 60% 0, 50% 50%);
  box-sizing: border-box;

  &__section {
    display: inline-flex;
    line-height: $height;
    height: $height;
    align-items: center;

    &--align-end {
      margin: 0 0 0 auto;
    }
  }

  :global(.mdc-icon-button) {
    margin: auto 2px;
  }

  :global(.mdc-ripple-surface.mdc-ripple-upgraded::before) {
    background-color: var(
      --mdc-ripple-color,
      var(--mdc-theme-on-primary, #fff)
    );
  }

  :global(.mdc-ripple-surface.mdc-ripple-upgraded::after) {
    background-color: var(
      --mdc-ripple-color,
      var(--mdc-theme-on-primary, #fff)
    );
  }
}
