.side-label {
  color: rgba(59, 59, 59, 0.589);
  font-weight: bold;
  font-size: 18px;

  background-color: rgba(167, 167, 167, 0.192);
  height: 100%;
  line-height: 55px;
  left: auto;
  right: 0;
  justify-items: center;
  align-items: center;
  text-align: center;
  padding: 0 16px;

  position: absolute;
  top: 50%;
  transform: translateY(-50%);

  cursor: default;
  pointer-events: none;
}
