@use "@material/card";
@use "@material/typography/mdc-typography";
@use "@material/button/styles";
@include card.core-styles;

html,
body {
  padding: 0;
  margin: 0;
}
.header {
  color: white;
  background-color: black;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main {
  padding: 40px;
  width: 780px;
  margin: auto;
  border: 1px solid gray;
  height: 100%;
}

.outline {
  border: 1px solid gray;
  padding: 10px;
  background-color: #eee;
}
