@use "@material/typography/styles" as typography;
@use "@material/button/styles" as button;
@use "@material/icon-button/styles" as icon-button;
@use "@material/top-app-bar/mdc-top-app-bar";
@use "@material/drawer";
@use "@material/list/evolution-mixins";

@include drawer.core-styles;
@include drawer.dismissible-core-styles;
@include drawer.modal-core-styles;

@include evolution-mixins.core-styles;

html,
body {
  padding: 0;
  margin: 0;
  height: 100%;
  box-sizing: border-box;
  position: fixed;
  overflow: hidden;
  width: 100vw;
  display: flex;
  flex-direction: column;

  --theme-secondary: rgb(236, 236, 236);
  --theme-primary: rgb(31, 87, 124);
  --mdc-theme-secondary: rgb(41, 170, 71);
}

// .header {
//   color: white;
//   background-color: black;
//   height: 200px;
//   display: flex;
//   align-items: center;
//   justify-content: center;
// }

// .main {
//   padding: 40px;
//   width: 780px;
//   margin: auto;
//   border: 1px solid gray;
//   height: 100%;
// }

.outline {
  border: 1px solid gray;
  padding: 10px;
  background-color: #eee;
}

.router-link {
  text-decoration: none;
  color: inherit;
}

.mdc-top-app-bar {
  width: 100vw;
}

.main {
  padding-top: 64px;
  height: 100%;
  position: relative;
  box-sizing: border-box;
  overflow: hidden;
}
